<!DOCTYPE html>
<html>
    <head>
        <title><%= siteTitle%> <%= pageTitle%></title>
        <!-- <link rel="stylesheet" type="text/css" href="/style.css">-->
        <!-- Libraries -->
    </head>
    <body  ng-app="mainApp">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <div class="outer">

            <ng-view></ng-view>

            <script type="text/ng-template" id="/index.html">
                <div class="container" ng-controller="MainCntrl">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2 class="feedback-form-title">Add a new row</h2>
                            <form class="feedback-form" ng-submit="submit()">
                                <div class="form-group">
                                    <textarea type="text" ng-model="text" name="text" placeholder="Enter new row, then hit the submit"  class="form-control" id="feedback-form-message" rows="6"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success pull-right">Submit</button>
                            </form>
                        </div>

                        <aside class="col-sm-8">
                            <div class="maincontent feedback">
                                <h2 class="article-title">Енеїда</h2>
                                <div class="feedback-messages">
                                    <table class="table table-striped">
                                        <tr ng-repeat="row in eneida">
                                            <td>
                                                {{row.text}}
                                            </td>
                                            <td><div class="media-left"><a href="#/{{row.id}}"><button type="button" class="btn btn-info"></span>Edit</button></a></div></td>
                                            <td><div class="media-left"><button ng-click="delete(row.id)" class="feedback-delete btn  btn-danger">Delete</button></div></td>
                                        </tr>
                                    </table>
                                </div>
                               
                            </div>
                        </aside> 
                    </div>
                </div>

            </script>

            <script type="text/ng-template" id="/edit.html">
                <div class="container" ng-controller="EditEneidaRowController">
                    <div class="">    
                        <form>
                            <div class="form-group" style = "padding-top:30px">
                                <h2>Edit Row:</h2>
                                <input type="text"  ng-model="row" class="form-control" id="usr">
                            </div>
                             <button type="submit" ng-click="submit()" class="btn btn-success">Submit</button>
                        </form>
                    </div>    
                </div>
            </script>
        </div>
        <script>

            var eneidaUrl = 'http://localhost:3000/api/eneida/';

            var app = angular.module('mainApp', ['ngRoute']);
            
            app.controller('MainCntrl', function ($scope, $location, $http) {
                $http.get(eneidaUrl).success(function(data){
                    $scope.eneida = data;
                    $scope.delete = function (id) {
                        $http(
                            {
                                method: 'DELETE',
                                url: eneidaUrl + id
                            })
                            .success(function() {
                                $scope.eneida = $scope.eneida.filter(function(e) {return e.id !== id;});
                                //window.location.replace('/');
                            })
                    }

                    $scope.submit = function() {
                        $http(
                            {
                                method: 'POST',
                                url: eneidaUrl,
                                data: JSON.stringify({
                                    text : $scope.text
                                })
                            })
                        .success(function(data){
                            $scope.eneida.push(data);
                            console.log(data)
                        })
                    };
                })
            })
            app.controller('EditEneidaRowController', function($scope, $routeParams, $location, $http) {
                $http.get(eneidaUrl + $routeParams.id).success(function(data){
                    $scope.row = data.text;
                    $scope.submit = function() {
                        $http(
                            {
                                method: 'PUT',
                                url: eneidaUrl + $routeParams.id,
                                data: JSON.stringify({
                                    id : $routeParams.id,
                                    text : $scope.row
                                })
                            })
                        .success(function(data){
                            window.location.replace('/');
                        })
                    };
                })
            })

            app.config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: '/index.html',
                        controller: 'MainCntrl'
                    })
                    .when('/:id', {
                        templateUrl: '/edit.html',
                        controller: 'EditEneidaRowController'
                    });
            }]);
              
        </script>
    </body>
</html>